{% extends 'base/base.html' %}

{% load staticfiles %}

{% block content %}
    <section id="home" class="video-hero"
             style="height: 150px; background-image: url({% static 'images/hero-bg.jpg' %});  background-size:cover; background-position: center center;background-attachment:fixed;"
             data-section="home">
    </section>

    <div class="nikah-gallery">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 nikah-heading text-center animate-box">
                <h2><i class="icon-images"></i> Images</h2>
            </div>
        </div>
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-3 no-gutters">
                    <a href="images/gallery-1.jpg" class="gallery-img image-popup-link animate-box"><img
                            class="img-responsive" src="images/gallery-1.jpg" alt="">
                        <div class="desc text-center">
                            <h2>Fashion be like</h2>
                            <p class="category"><span>Fashion</span></p>
                        </div>
                    </a>
                    <a href="images/gallery-2.jpg" class="gallery-img image-popup-link animate-box"><img
                            class="img-responsive" src="images/gallery-2.jpg" alt="">
                        <div class="desc text-center">
                            <h2>Fashion be like</h2>
                            <p class="category"><span>Jacket</span> <span>Woman</span></p>
                        </div>
                    </a>
                    <a href="images/gallery-9.jpg" class="gallery-img image-popup-link animate-box"><img
                            class="img-responsive" src="images/gallery-9.jpg" alt="">
                        <div class="desc text-center">
                            <h2>Fashion be like</h2>
                            <p class="category"><span>Jacket</span> <span>Woman</span></p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 no-gutters">
                    <a href="images/gallery-3.jpg" class="gallery-img image-popup-link animate-box"><img
                            class="img-responsive" src="images/gallery-3.jpg" alt="">
                        <div class="desc text-center">
                            <h2>Fashion be like</h2>
                            <p class="category"><span>Jacket</span> <span>Male</span></p>
                        </div>
                    </a>
                    <a href="images/gallery-4.jpg" class="gallery-img image-popup-link animate-box"><img
                            class="img-responsive" src="images/gallery-4.jpg" alt="">
                        <div class="desc text-center">
                            <h2>Fashion be like</h2>
                            <p class="category"><span>Fashion</span></p>
                        </div>
                    </a>
                    <a href="images/gallery-10.jpg" class="gallery-img image-popup-link animate-box"><img
                            class="img-responsive" src="images/gallery-10.jpg" alt="">
                        <div class="desc text-center">
                            <h2>Fashion be like</h2>
                            <p class="category"><span>Jacket</span> <span>Woman</span></p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 no-gutters">
                    <a href="images/gallery-5.jpg" class="gallery-img image-popup-link animate-box"><img
                            class="img-responsive" src="images/gallery-5.jpg" alt="">
                        <div class="desc text-center">
                            <h2>Fashion be like</h2>
                            <p class="category"><span>Fashion</span></p>
                        </div>
                    </a>
                    <a href="images/gallery-6.jpg" class="gallery-img image-popup-link animate-box"><img
                            class="img-responsive" src="images/gallery-6.jpg" alt="">
                        <div class="desc text-center">
                            <h2>Fashion be like</h2>
                            <p class="category"><span>Fashion</span></p>
                        </div>
                    </a>
                    <a href="images/gallery-11.jpg" class="gallery-img image-popup-link animate-box"><img
                            class="img-responsive" src="images/gallery-11.jpg" alt="">
                        <div class="desc text-center">
                            <h2>Fashion be like</h2>
                            <p class="category"><span>Jacket</span> <span>Woman</span></p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 no-gutters">
                    <a href="images/gallery-7.jpg" class="gallery-img image-popup-link animate-box"><img
                            class="img-responsive" src="images/gallery-7.jpg" alt="">
                        <div class="desc text-center">
                            <h2>Fashion be like</h2>
                            <p class="category"><span>Fashion</span></p>
                        </div>
                    </a>
                    <a href="images/gallery-8.jpg" class="gallery-img image-popup-link animate-box"><img
                            class="img-responsive" src="images/gallery-8.jpg" alt="">
                        <div class="desc text-center">
                            <h2>Fashion be like</h2>
                            <p class="category"><span>Fashion</span></p>
                        </div>
                    </a>
                    <a href="images/gallery-12.jpg" class="gallery-img image-popup-link animate-box"><img
                            class="img-responsive" src="images/gallery-12.jpg" alt="">
                        <div class="desc text-center">
                            <h2>Fashion be like</h2>
                            <p class="category"><span>Jacket</span> <span>Woman</span></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="pagination">
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="nikah-instagram">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 nikah-heading text-center animate-box">
                <h2><i class="icon-instagram"></i> Instagram</h2>
            </div>
        </div>
        <div class="row">
            <div class="instagram-entry animate-box">
                <a href="#" class="instagram text-center" style="background-image: url(images/insta-1.jpg);">
                </a>
                <a href="#" class="instagram text-center" style="background-image: url(images/insta-2.jpg);">
                </a>
                <a href="#" class="instagram text-center" style="background-image: url(images/insta-3.jpg);">
                </a>
                <a href="#" class="instagram text-center" style="background-image: url(images/insta-4.jpg);">
                </a>
                <a href="#" class="instagram text-center" style="background-image: url(images/insta-5.jpg);">
                </a>
                <a href="#" class="instagram text-center" style="background-image: url(images/insta-6.jpg);">
                </a>
                <a href="#" class="instagram text-center" style="background-image: url(images/insta-7.jpg);">
                </a>
                <a href="#" class="instagram text-center" style="background-image: url(images/insta-8.jpg);">
                </a>
            </div>
        </div>
    </div>
{% endblock %}